footer.b-footer
  div.b-footer__container
    div.b-footer__container-social
      div.b-footer__container-social__logo
        include ../../images/insure-logo.svg
      div.b-footer__container-social__links
        ul
          li
            include ../../images/icon-facebook.svg
          li
            include ../../images/icon-twitter.svg
          li
            include ../../images/icon-pinterest.svg
  div.b-footer__categories
    div.b-footer__categories-container
      div.b-footer__categories-container__company
        h5 Nossa Compania
        h6 Como trabalhamos
        h6 Por quê ter seguro?
        h6 Ver planos
        h6 Reviews
      div.b-footer__categories-container__help
        h5 Ajuda
        h6 FAQ
        h6 Termos de Uso
        h6 Política de Privacidade
        h6 Cookies
      div.b-footer__categories-container__contact
        h5 Contato
        h6 Vendas
        h6 Suporte
        h6 Chat Ao Vivo
      div.b-footer__categories-container__others
        h5 Outros
        h6 Minha Conta
        h6 Carreira
        h6 Imprensa
  div.b-footer__pattern
    include ../../images/icon-footer-pattern.svg
  div.b-footer__pattern-mobile
    include ../../images/icon-footer-pattern-mobile.svg